<div id="popup1" class="overlay modal-header">
    <div class="popup">
        <h1>Settings</h1>
        <hr>
        <span class="close" (click)="closeSettings()">&times;</span>
        <div class="content">
            <div class="control-section">
                <h3>Links</h3>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1"
                    [checked]="settings.openLinkInNewTab" 
                    (change)="toggleOpenLinksInNewTab()"
                    >
                    <label class="custom-control-label" for="customSwitch1">Open links in a new tab</label>
                  </div>
            </div>
            <div class="theme-controls">
                <div class="control-section">
                    <h3>Select a theme</h3>
                    <div class="row">
                        <div class="col-md-4">
                            <button  #default
                            type="button" 
                            class="btn btn-block btn-light"
                            name="theme" 
                            (click)="selectTheme('default')">Default</button>
                        </div>

                        <div class="col-md-4">
                            <button  #night
                            type="button" 
                            class="btn btn-block btn-primary"
                            name="theme" 
                            (click)="selectTheme('night')">Night</button>
                        </div>

                        <div class="col-md-4">
                            <button  #amoledblack
                            type="button" 
                            class="btn btn-block btn-dark"
                            name="theme" 
                            (click)="selectTheme('amoledblack')">Amoled</button>
                        </div>                    
                    </div>
                </div>
                <div class="control-section">
                    <h3>Font & Spacing</h3>
                    <div>
                        <label>
                        Font size: {{settings.titleFontSize}}
                        <input 
                            class="form-control-range"
                            #titleFont 
                            min="1" 
                            max="40"
                            step="1"
                            [value]="settings.titleFontSize" 
                            name="theme" 
                            type="range" 
                            (change)="changeTitleFont(titleFont.value)" />
                        </label>
                    </div>
                    <div>
                        <label>
                        List spacing: {{settings.listSpacing}}
                        <input 
                            #listSpacing 
                            class="form-control-range"
                            min="0" 
                            max = "30"
                            step = "1"
                            [value]="settings.listSpacing" 
                            name="theme" 
                            type="range" 
                            (change)="changeSpacing(listSpacing.value)" />
                        </label>
                    </div>
                </div>
                <div class="control-section">
                    <div class="row">
                        <div class="col-md-12">
                            <button  #reset
                            type="button" 
                            class="btn btn-block btn-dark"
                            name="reset" 
                            (click)="resetToDefault()">Reset to Defaults</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
